<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="icon icon-user">
        </div>
        <div class="title">
            First Start
        </div>
    </div>
</div>
<div id="admob">
</div>
<div class="palm-group">
    <div class="palm-group-title">
        Authorization
    </div>
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="login" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                <div class="title">
                    <div id="token" x-mojo-element="TextField">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div x-mojo-element="Button" id="update">
</div>
<div class="palm-text-wrapper">
    <div class="palm-body-text">
        Browse to your <a href="https://github.com/account">Github-Account</a>
        and copy&paste your api-token.
    </div>
</div>
