<div id="main" class="palm-hasheader">
    <div class="palm-header left" id="main-hdr">
        Authorization
    </div>
    <div id="admob">
    </div>
    <div class="palm-group unlabeled">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="login" x-mojo-element="TextField">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="palm-group unlabeled">
        <div class="palm-list">
            <div class="palm-row single">
                <div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
                    <div class="title">
                        <div id="token" x-mojo-element="TextField">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div x-mojo-element="Button" id="update">
    </div>
    <div x-mojo-element="Button" id="cancel">
    </div>
    <div class="palm-text-wrapper">
        <div class="palm-body-text">
            Browse to your <a href="https://github.com/account">Github-Account</a>
            and copy&paste your api-token.
        </div>
    </div>
    <div id="auth-debug">
    </div>
</div>
