<div id="main" class="palm-hasheader">
	<div class="palm-header left" id="main-hdr">
	  Authorization
	</div>
</div>

<div class="palm-group">
<div class="palm-group-title" x-mojo-loc=''>Username</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="auth-username" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="palm-group">
<div class="palm-group-title" x-mojo-loc=''>Username</div>
	<div class="palm-list">
   		<div class="palm-row single">
			<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
				<div class="title">
					<div id="auth-apikey" x-mojo-element="TextField"></div>
				</div>
			</div>
		</div>
	</div>
</div>

<div x-mojo-element="Button" id="update"></div>
<div id="auth-debug"></div>

