<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="label">
                Name
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                
                #{name}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Login
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{login}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                E-Mail
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                <a href="mailto:#{email}">#{email}</a>
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Company
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{company}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Location
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{location}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Blog
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                <a href="#{blog}">#{blog}</a>
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Created at
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{created_at}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Public Gist count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{public_gist_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Private Gist count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{private_gist_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Public repo count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{public_repo_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Total private repo count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{public_repo_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Owned private repo count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{owned_private_repo_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Collaborators
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{collaborators}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Disk usage
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{disk_usage}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Following count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{following_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Followers count
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{followers_count}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Plan name
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{plan.name}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Plan collaborators
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{plan.collaborators}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Plan space
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{plan.space}
            </div>
        </div>
        <div class="palm-row last">
            <div class="label">
                Plan private repos
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{plan.private_repos}
            </div>
        </div>
    </div>
</div>
