<!--
 * de.kingcrunch.github
 *
 * Copyright 2009 Sebastian "KingCrunch" Krebs <sebastian.krebs@kingcrunch.de>
 *
 * This file is part of "de.kingcrunch.gut".
 * "de.kingcrunch.github" is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * "crunch" is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 * You should have received a copy of the GNU Lesser General Public License
 * along with "de.kingcrunch.github". If not, see <http://www.gnu.org/licenses/>.
 -->
 <div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div class="label">
                    ID
                </div>
                <div class="title left truncating-text">
                    #{id}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Title
                </div>
                <div class="title left multi-line">
                    #{title}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Author
                </div>
                <div class="title left truncating-text">
                    #{author.name}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Updated
                </div>
                <div class="title left truncating-text">
                    #{updated}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Published
                </div>
                <div class="title left truncating-text">
                    #{published}
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="label">
                    Content
                </div>
                <div class="title left multi-line">
                    #{-content}
                </div>
            </div>
        </div>
    </div>
</div>
