<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="icon icon-octocat">
        </div>
        <div class="title">
            Commit
        </div>
    </div>
</div>
<div id="admob">
</div>
<div class="palm-text-wrapper">
    <div class="palm-body-title">
        de.kingcrunch.github
        &copy; 2009 Sebastian "KingCrunch" Krebs
        <br>
        <sebastian.krebs@kingcrunch.de>
    </div>
    <div class="palm-body-text" style="text-align:justify;">
        "de.kingcrunch.github" is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.
    </div>
    <div class="palm-body-text" style="text-align:justify;">
        "crunch" is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.
    </div>
    <div class="palm-body-text" style="text-align:justify;">
        You should have received a copy of the GNU Lesser General Public License 
        along with "de.kingcrunch.github". If not, see <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>
    </div>
</div>
