<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="label">
                Name
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{name}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Description
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{description}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Owner
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{owner}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Url
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{url}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Homepage
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{homepage}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Open issues
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{open_issues}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Private
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{private}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Forks
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{forks}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Fork
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{fork}
            </div>
        </div>
    </div>
</div>
