.palm-account-icon.icon-user {
    background: url(../images/user.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-user {
    background: url(../images/user.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-package {
    background: url(../images/package.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-package {
    background: url(../images/package.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-feed {
    background: url(../images/feed.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-feed {
    background: url(../images/feed.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-tag {
    background: url(../images/tag.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-tag {
    background: url(../images/tag.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-arrow-branch {
    background: url(../images/arrow_branch.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-arrow-branch {
    background: url(../images/arrow_branch.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-transmit {
    background: url(../images/transmit.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-transmit {
    background: url(../images/transmit.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-account-icon.icon-report {
    background: url(../images/report.png) no-repeat;
    margin-top: 0px;
    margin-left: 17px;
}

.icon.icon-report {
    background: url(../images/report.png) no-repeat;
    margin-top: 13px;
    margin-left: 17px;
}

.palm-row-wrapper {
    font-size: smaller;
}

