<div class="palm-page-header multi-line">
    <div class="palm-page-header-wrapper">
        <div class="icon icon-octocat">
        </div>
        <div class="title">
            Credits
        </div>
    </div>
</div>
<div id="admob">
</div>
<div id="details" class="palm-text-wrapper">
    <div class="palm-body-text">
        Octocat Logo &copy; 2009 <a href="http://github.com/">GitHub Inc</a>. All Rights Reserved. Thanks, for the great Service.
    </div>
    <div class="palm-body-text" style="text-align:justify;">
        All icons are taken from the <a href="http://www.famfamfam.com/lab/icons/silk/">FamFam 
            Silk-Icons-Set</a>. Thanks for the wide choice of icons and that we can use it for free.
    </div>
    <div class="palm-body-text" style="text-align:justify;">
        Neither the author (me), nor the application "as it is" are affiliated with FamFam or Github.
        I just wrote this app, because I think it can get useful.
    </div>
</div>
</div>
<div id="debug">
</div>
