<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="label">
                ID
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{id}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Tree
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{tree}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Url
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{url}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Message
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{message}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Author
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{author.name}<br>
				#{author.login}<br>
				#{author.email}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Committer
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{committer.name}<br>
                #{committer.login}<br>
                #{committer.email}
            </div>
        </div>
        <div class="palm-row">
            <div class="label">
                Committed Date
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{committed_date}
            </div>
        </div>
        <div class="palm-row last">
            <div class="label">
                Authored Date
            </div>
            <div class="title left truncating-text palm-row-wrapper">
                #{authored_date}
            </div>
        </div>
    </div>
</div>
