<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div class="label">
                    ID
                </div>
                <div class="title left truncating-text">
                    #{id}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Tree
                </div>
                <div class="title left truncating-text">
                    #{tree}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Url
                </div>
                <div class="title left truncating-text">
                    #{url}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Message
                </div>
                <div class="title left truncating-text">
                    #{message}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Author
                </div>
                <div class="title left truncating-text">
                    #{author.name}
                    <br>
                    #{author.login}
                    <br>
                    #{author.email}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Committer
                </div>
                <div class="title left truncating-text">
                    #{committer.name}
                    <br>
                    #{committer.login}
                    <br>
                    #{committer.email}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Committed Date
                </div>
                <div class="title left truncating-text">
                    #{committed_date}
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="label">
                    Authored Date
                </div>
                <div class="title left truncating-text">
                    #{authored_date}
                </div>
            </div>
        </div>
    </div>
</div>
