<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
                <div class="label">
                    Number
                </div>
                <div class="title left truncating-text">
                    #{number}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Title
                </div>
                <div class="title left truncating-text">
                    #{title}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Body
                </div>
                <div class="title left truncating-text">
                    #{body}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Votes
                </div>
                <div class="title left truncating-text">
                    #{votes}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Created at
                </div>
                <div class="title left truncating-text">
                    #{created_at}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Updated at
                </div>
                <div class="title left truncating-text">
                    #{updated_at}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    User
                </div>
                <div class="title left truncating-text">
                    #{user}
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="label">
                    State
                </div>
                <div class="title left truncating-text">
                    #{state}
                </div>
            </div>
        </div>
    </div>
</div>
