<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper textfield-group">
                <div class="left title multi-line">
                    #{user} (#{updated_at})
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper textfield-group">
                <div class="left multi-line">
                    #{body}
                </div>
            </div>
        </div>
        <!--- <div class="palm-row #{css}" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper textfield-group">
                <div class="left title multi-line">
                    #{created_at}
                </div>
            </div>
        </div>
        <div class="palm-row #{css}" x-mojo-tap-highlight="momentary">
            <div class="palm-row-wrapper textfield-group">
                <div class="left title multi-line">
                    #{updated_at}
                </div>
            </div>
        </div> -->
    </div>
</div>
