<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
            <div class="label">
                Name
            </div>
            <div class="title left truncating-text">
                #{item.name}
            </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Description
                </div>
                <div class="title left multi-line">
                    #{item.description}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Owner
                </div>
                <div class="title left truncating-text">
                    #{item.owner}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Url
                </div>
                <div class="title left truncating-text">
                    <a href="#{item.url}">#{item.url}</a>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Homepage
                </div>
                <div class="title left truncating-text">
                    <a href="#{item.homepage}">#{item.homepage}</a>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Open issues
                </div>
                <div class="title left truncating-text">
                    #{item.open_issues}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Private
                </div>
                <div class="title left truncating-text">
                    #{item.private}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Forks
                </div>
                <div class="title left truncating-text palm-row-wrapper">
                    #{item.forks}
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="label">
                    Fork
                </div>
                <div class="title left truncating-text palm-row-wrapper">
                    #{item.fork}
                </div>
            </div>
        </div>
    </div>
</div>
