<div class="palm-group unlabeled">
    <div class="palm-list">
        <div class="palm-row first">
            <div class="palm-row-wrapper">
            <div class="label">
                Name
            </div>
            <div class="title left truncating-text">
                #{name}
            </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Description
                </div>
                <div class="title left multi-line">
                    #{description}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Owner
                </div>
                <div class="title left truncating-text">
                    #{owner}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Url
                </div>
                <div class="title left truncating-text">
                    <a href="#{url}">#{url}</a>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Homepage
                </div>
                <div class="title left truncating-text">
                    <a href="#{homepage}">#{homepage}</a>
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Open issues
                </div>
                <div class="title left truncating-text">
                    #{open_issues}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Private
                </div>
                <div class="title left truncating-text">
                    #{private}
                </div>
            </div>
        </div>
        <div class="palm-row">
            <div class="palm-row-wrapper">
                <div class="label">
                    Forks
                </div>
                <div class="title left truncating-text palm-row-wrapper">
                    #{forks}
                </div>
            </div>
        </div>
        <div class="palm-row last">
            <div class="palm-row-wrapper">
                <div class="label">
                    Fork
                </div>
                <div class="title left truncating-text palm-row-wrapper">
                    #{fork}
                </div>
            </div>
        </div>
    </div>
</div>
